<div class= 'nav'>
  <%=erb :_all_surveys_link%>
  <%= erb :_new_survey_link%>
  <%=erb :_logout_button%>
</div>

<h2>WELCOME <%=@user.name %></h2>

<h3>Thanks for visiting GlitterSpace!</h3>

<h4>Your surveys:</h4>
<ul>
  <%@user.surveys.each do |survey| %>
    <li><a href = "/surveys/<%=survey.id%>/results"><%=survey.title%></a></li>
  <%end%>
</ul>




